<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Broken Suite">

<listeners>
<listener class-name = "listeners.TestListener">

</listener>
</listeners>
  <test name="Test">
  <parameter name = "browser" value = "chrome"/>
    <classes>
      <class name="tests.BrokenLinks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
